#cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 1px solid #008080;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: .1s;
    pointer-events: none;
    z-index: 10;
}

#cursor2 {
    position: fixed;
    width: 7px;
    height: 7px;
    background-color: #008080;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: .08s;
    z-index: 10;
    pointer-events: none;
    
}
