#cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 1px solid #008080;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: .1s;
    pointer-events: none;
}

#cursor2 {
    position: fixed;
    width: 5px;
    height: 5px;
    background-color: #008080;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: .08s;
    pointer-events: none;
}
.text:hover~#cursor {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #7a2ae5;
    opacity: .4;
}

.text:hover~#cursor2 {
    display: none;
}
