@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=optional");
$dark-bg: #111111; // Dark background color
$black: #000000; // Black text color
$white: #FFFFFF; // White text color

// Accent colors
$green: #2ECC71; // Green accent color
$orange: #E67E22; // Orange accent color

// Neutral colors
$gray: #777777; // Gray text color
$light-gray: #AAAAAA; // Light gray text color
$dark-gray: #333333; // Dark gray text color
:root {
  background-color: $white;
  color: $dark-gray;

  &.dark {
    background-color: $dark-bg;
    color: $light-gray;
  }
  ::selection{
    background: #008080;
  }
  #cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 1px solid #008080;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: .1s;
    pointer-events: none;
    z-index: 1;
}

#cursor2 {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #008080;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: .08s;
    pointer-events: none;
    z-index: 1;

}

}
// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

// body {
//   color: rgb(var(--foreground-rgb));
  
// }
