@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=optional");
$dark-bg: #111111; // Dark background color
$black: #000000; // Black text color
$white: #FFFFFF; // White text color

// Accent colors
$green: #2ECC71; // Green accent color
$orange: #E67E22; // Orange accent color

// Neutral colors
$gray: #777777; // Gray text color
$light-gray: #f5f5f5; // Light gray text color
$dark-gray: #333333; // Dark gray text color
:root {
  background-color: $light-gray;
  color: $dark-gray;

  &.dark {
    background-color: $dark-bg;
    color: $light-gray;
  }
  ::selection{
    background: #008080;
  }

}

